<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiscordRichPresence" version="1.2.1.24" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net48" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3116-prerelease" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>